{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "indent": [2, 4],
        "max-len": [2, 300, {"ignoreUrls": true}],
        "no-shadow": [0],
        "no-param-reassign": [0]
    },
    "globals": {
        "debug": true,
        "$route": true
    },
    "parserOptions": {
        "ecmaFeatures": {
          "jsx": true
        }
    },
}
