.top-nav {
    margin-bottom: $spacing-vert;

    > .link {
        display: inline-block;
        padding: 6px 0;

        > .logo {
            float: left;
            width: 310px;
        }
    }
}

.top-links {
    float: right;
    padding: 10px 0;

    > a {
        padding: 10px;
        color: $gray-dark;
        display: inline-block;
        cursor: pointer;
    }
}

$nav-height: 70px;

body {
    margin-top: $nav-height + 30px;
}

.top-nav-wrapper {
    background-color: #fff;
    box-shadow: $light-shadow;
    position: fixed;
    width: 100%;
    height: $nav-height;
    z-index: 999;
    top: 0;
    transition: $all-fast;

    &::before {
        content: '';
        height: 4px;
        width: 100%;
        display: block;
        background: $blue;
        background: linear-gradient(to right, $blue 0%, $blue 25% , $green 25%, $green 50%, $yellow 50%, $yellow 75%, $red 75%, $red 100%);
    }
}

.top-menu-dropdown {
    background: #fff;
    position: absolute;
    right: 0;
    min-width: 160px;
    border: 1px solid $gray-lighter;

    > a {
        padding: 5px 10px;
        display: block;

        &:hover {
            background-color: $gray-lighter;
        }
    }
}

.user-link {
    position: relative;
    z-index: 100;

    .menu {
        border-bottom: 1px dotted $blue;

        &:hover {
            text-decoration: none;
            cursor: pointer;
        }

        &::after {
            content: '\f0d7';
            font-family: FontAwesome;
            padding-left: 5px;
        }
    }
}
