// Includes
@import 'includes';

// Files
@import 'reboot';
@import 'circles';

// Components
@import 'components/top-nav';

// Vendor
@import '~pikaday/scss/pikaday';

.row {
    @include clearfix;
}

.container {
    @include container(1600px);
}

.left {
    @include span(3 of 12);
}
.right {
    @include span(9 of 12 last);
}

.page-content {
    @include clearfix;
}

.col-2 {
    @include gallery(12);

    @include breakpoint(md) {
        @include gallery(6 of 12);
    }
}

.col-3 {
    @include gallery(12);

    @include breakpoint(md) {
        @include gallery(6 of 12);
    }
    @include breakpoint(lg) {
        @include gallery(4 of 12);
    }
}

.col-6 {
    @include span(6 of 12);
}
.col-6-last {
    @include span(6 of 12 last);
}

.border-yellow {
    border-color: $yellow;
}
.border-green {
    border-color: $green;
}
.border-blue {
    border-color: $blue;
}

.card-top {
    background-color: $blue;
    border-bottom: 4px solid $blue-dark;
    padding: 10px 30px;
    color: #fff;

    > h1, > h2, > h3, > h4 {
        margin-bottom: 0;
        font-weight: normal;
    }
}

.card-body {
    padding: 30px;
    @include clearfix;
}
