textarea {
    height: 170px;
}

.side-input, .stacked-input {
    > .label {
        margin-bottom: 20px;
    }

    > .input {
        font-size: 1rem;
        border: none;
        background-color: transparent;
        border-bottom: 1px solid $gray-lighter;
        transition: $all-fast;
        font-weight: normal;

        &:focus {
            outline: none;
            border-bottom: 1px solid $blue;
        }
    }

    > .editable {
        cursor: pointer;
        border-bottom: 1px solid transparent;
        transition: $all-fast;
        min-width: 100%;
        min-height: 30px;
        display: inline-block;
        border-bottom: 1px solid $gray-lighter;

        &:hover {
            border-bottom: 1px solid $blue;
        }
    }
}

.side-input {
    > .label {
        width: 100px;
        display: inline-block;
        text-align: right;
        padding-right: 20px;
    }

    > .input {

    }
}

.stacked-input {
    margin-bottom: 20px;

    > .label {
        display: block;
        margin-bottom: 10px;
    }

    > .input {
        width: 100%;
    }
}

.input {
    border: none;
    border-bottom: 1px solid $gray-light;
    font-size: 1rem;
    transition: $all-fast;

    &:focus {
        outline: none;
        border-bottom: 1px solid $blue;
    }
}

.label {
    cursor: pointer;
    display: block;
    margin-bottom: 25px;

    > .checkbox {
        display: none;
    }

    > .span {
        background: $gray-light;
        width: 25px;
        height: 25px;
        display: inline-block;
        transition: $all-fast;

        &::after {
            font-family: FontAwesome;
            content: '\f00c';
            color: $gray-lighter;
            left: 3px;
            top: -2px;
            position: relative;
            font-size: .9rem;
        }
    }

    > .checkbox:checked + .span {
        background-color: $blue;
    }
}

.button {
    border: none;
    background-color: $blue;
    color: #fff;
    font-size: 1rem;
    padding: 6px 15px;
    cursor: pointer;
    transition: $all-fast;
    border-radius: 2px;
    text-shadow: 0 2px 0 rgba(0, 0, 0, .1);
    border-bottom: 2px solid $blue-dark;

    &.cancel {
        background-color: $gray-light;
        border-bottom: 2px solid $gray;

        &:hover {
            background-color: darken($gray-light, 5%);
        }
    }

    &:hover {
        background-color: darken($blue, 5%);
    }
}

.extra {
    color: $gray-light;
    display: block;
}
